

 div.tituloEparagrafos{
    grid-area: tituloEparagrafos;
    justify-self: baseline;
    align-self: baseline;
    margin-top: 90px;
    
}

 div.botaoVoltar{
    grid-area: botaoVoltar;
    background-image: url('../img/Seta.png');
    height: 50px;
    width: 40px;
    cursor: pointer;
    
    background-size: contain;
    transform: rotate(180deg);
    justify-self: left;
    margin-bottom: 90px;
}

 div.tituloEparagrafos h1 {
    margin: 0px;
    width: 99.5%;   
    font-size: 1.3em;
    text-decoration: underline;
    text-decoration-color: #FFD700;
    
}

 div.tituloEparagrafos div.paragrafos {
    grid-area: paragrafos;

    justify-self: baseline;
}

 div.tituloEparagrafos div.paragrafos p{
    font-size: 1.1em;
    margin: 30px 0px 30px 0px;
}

 img {
    grid-area: imagem;
    height: 390px;
    width: 300px;
    justify-self: baseline;
}


#iconeWhatsApp{
    height: 20px;
    width: 20px;
}

#iconeGmail{
    height: 20px;
    width: 20px;
}
