body {
    margin: 0;
    color: white;
    background-color: #2B2D31;
    
}
main {
    
    margin: 0px;
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-rows: 15% 85%;
    grid-template-areas: 
    "titulo"
    "dadosEfoto"
    ;
}
main div.titulo {
    grid-area: titulo;
    height: 10vh;
    width: 100%;
}
main div h1 {
    margin: 0;
    text-align: center;
    font-size: 1.7em;
}
main div hr{
    margin: 0;
    width: 99vw;
}



main section {
    grid-area: dadosEfoto;
    width: 100%;
    height: 70vh;
    display: grid;
    place-items: center;
    grid-template-areas: 
    "botaoVoltar dados foto botaoAvancar"
    ;
    grid-template-columns: 10% 40% 40% 10%;
    
}
main section div.paragrafos{
    grid-area: dados;
    height: 100%;
}
main section div.paragrafos p{
    margin: 50px 0;
    font-size: 1.2em;
}
main section img {
    height: 300px;
    border-radius: 100%;
    grid-area: foto;
    
}




main section div.botaoVoltar{
    grid-area: botaoVoltar;
    height: 50px;
    width: 40px;
    background-image: url('../img/Seta.png');
    background-size: contain;
    cursor: pointer;
    transform: rotate(180deg);
    align-self: center;
    justify-self: baseline;
    margin-bottom: 60px;
}
main section div.botaoAvancar{
    grid-area: botaoAvancar;
    height: 50px;
    width: 40px;
    background-image: url('../img/Seta.png');
    background-size: contain;
    cursor:pointer;
    align-self: center;
    justify-self: end;
    margin-bottom: 60px;
}

@media only screen and (max-width: 650px){
    main section {
        grid-area: dadosEfoto;

        width: 100%;
        height: 70vh;
        display: grid;
        place-items: center;
        grid-template-areas: 
        "botaoVoltar foto botaoAvancar"
        "botaoVoltar dados botaoAvancar"
        ;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 70% 30%;
        
    }
    main section img{
        height: 250px;
    }
}
@media only screen and (max-width: 425px){
    main section img {
        margin-top: 10px;
        
    }
}

@media only screen and (max-width: 390px){
    main section img {
        height: 250px;
        
    }
}