header {
    display: grid;
    grid-template-columns: 25% 75%;
    background-color: #808080;
    height: 12dvh;
    width: 100dvw;
}
header h3 {
    margin: 0;
}
header div{
    width: 20dvw;
    text-align: center;
    justify-self: center;
    align-self: center;
    display: grid;
    place-items: center;
}
header p{
    width: 90%;
    justify-self: right;
    text-align: center;
    color: #FFD700;
    font-style: italic;
    font-weight: bold;
}
header hr {
    margin: 0px;
    width: 200px;
    background-color: #FFD700;
    height: 1px;
    border: 0px;
}







/* ------------- ÁREA DOS MEDIA QUERIES PARA WIDTH ---------------*/


@media only screen and (min-width: 750px) and (max-width: 836px){   
    header div{
        margin-bottom: 10px;
    }

}
@media only screen and (min-width: 419px) and (max-width: 749px){
    header {
        display: grid;
        grid-template-columns: 30% 70%;
        width: 100%;
    }
    header div{
        width: 100%;
        margin-left: 10px;
    }
    header h3{
        font-size: 0.98em;
    }
    header hr{
        width: 28vw;
        margin-left: 1.4vw;
    }
    header p{
        font-size: 0.9em;
        margin-top: 20px;
    }
}
@media only screen and (max-width: 418px){
    header {
        display: grid;
        grid-template-columns: 30% 70%;
        
    }
    header div{
        width: 35vw;
        margin-left: 30px;
    }
    header div h3{
        font-size: 0.98em;
    }
    header p{
        font-size: 0.85em;
        margin-top: 25px;
    }
    header div hr{
        width: 31dvw;
    }
}
@media only screen and (max-width: 358px){
    header div h3{
        font-size: 0.70em;
    }
    header p{
        font-size: 0.7em;
        margin-top: 20px;
    }
}



/* ÁREA DOS MEDIA QUERY HEIGHT */ 

@media only screen and (max-height: 470px){
    header div h3{
        font-size: 0.6em;
    }
    header p{
        font-size: 0.5em;
    }
}


