body {
    margin: 0;
    height: 100dvh;
    width: 100dvw;
    color: white;
    background-color: #2B2D31;  
}

main {
    margin: 0px;
    height: 88dvh;
    width: 100dvw;
    display: grid;
    place-items: center;
    grid-template-columns: 40% 50% 10%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
    "titulo titulo titulo"
    "bio foto botao"
    ;
}
main div.nomeEhr{
    grid-area: titulo;
    margin-bottom: 20px;
}

main div.nomeEhr h1 {
    margin: 0px;
    font-size: 1.7em;
    text-align: center;
}

main div.nomeEhr hr{
    margin: 0px;
    width: 98dvw;
}

main div.bio{
    margin: 0px;
    grid-area: bio;
}

main div.bio p{
    width: 35dvw;
    font-size: 1.4em;
    text-align: center;
}

main img {
    height: 300px;
    border-radius: 100%;
    justify-self: center;
    grid-area: foto;
}

main div.botao{
    height: 50px;
    width: 40px;
    justify-self: end;
    align-self: center;
    margin-bottom: 90px;
    background-image: url('../img/Seta.png');
    background-size: contain;
    cursor: pointer;
    grid-area: botao;
}

@media only screen and (max-width: 650px){
    main {
        grid-template-rows: 15% 50% 35%;
        grid-template-columns: 90% 10%;
        grid-template-areas: 
        "titulo titulo"
        "foto botao"
        "bio bio"
        ;
    }
    main div.bio p{
        font-size: 1.3rem;
        width: 100%;
    }
    main div.bio{
        grid-area: bio;
        width: 100%;     
    }
    main img {
        height: 250px;
        margin-left: 50px;
    }
    main div.nomeEhr h1 {
        font-size: 1.4em;
        
    }
    main div.botao{
        margin-bottom: 0px;
        margin-top: 80px;
    }
}
@media only screen and (max-width:420px){

    main div.bio p{
        font-size: 1.1rem;
        
    }
    main div.botao{
        height: 50px;
        width: 40px;
        justify-self: end;
        align-self: center;
        margin-bottom: 0px;
        margin-top: 80px;
        background-image: url('../img/Seta.png');
        background-size: contain;
        cursor: pointer;
        grid-area: botao;
    }
}

