body {
    margin: 0;
    height: 100dvh;
    width: 100dvw;
    color: black;
    background-color: white;  
}

main {
    margin: 0px;
    height: 88dvh;
    width: 100dvw;
    display: grid;
    place-items: center;
    grid-template-columns: 60% 30% 10%;
    grid-template-rows: 40% 60%;
    grid-template-areas: 
    "nomeEbio foto botato"
    "especialidades foto botao"
    ;
    font-family: math;
}

main div.nomeEbio{
    grid-area: nomeEbio;
    width: 100%;
    align-self: end;
}

main div.nomeEbio h1 {
    margin: 0px;
    font-size: 1.3em;
    margin-left: 70px;
    text-decoration: underline;
    text-decoration-color: #FFD700;
}

main div.nomeEbio p{
    font-size: 1.1em;
    text-align: left;
    margin: 20px 80px 0px 70px
}

main div.especialidades{
    grid-area: especialidades;
    width: 100%;
    align-self: baseline;
}

main div.especialidades h2{
    text-decoration: underline;
    text-decoration-color: #FFD700;
    margin-left: 70px;
}

main div.especialidades p{
    font-size: 1.1em;
    text-align: left;
    margin-left: 70px;
    display: inline-block;
    background-color: #808080;
    border-radius: 1em;
    padding: 7px;
}

main img {
    height: 390px;
    width: 300px;
    justify-self: end;
    grid-area: foto;
}

main div.botao{
    height: 50px;
    width: 40px;
    justify-self: end;
    align-self: baseline;
    margin-bottom: 90px;
    background-image: url('../img/Seta.png');
    background-size: contain;
    cursor: pointer;
    grid-area: botao;
}



/*           MEDIA QUERIES     */



@media only screen and (max-width: 650px){
    main {
        grid-template-rows: 15% 50% 35%;
        grid-template-columns: 90% 10%;
        grid-template-areas: 
        "titulo titulo"
        "foto botao"
        "bio bio"
        ;
    }
    main div.bio p{
        font-size: 1.3rem;
        width: 100%;
    }
    main div.bio{
        grid-area: bio;
        width: 100%;     
    }
    main img {
        height: 250px;
        margin-left: 50px;
    }
    main div.nomeEhr h1 {
        font-size: 1.4em;
        
    }
    main div.botao{
        margin-bottom: 0px;
        margin-top: 80px;
    }
}
@media only screen and (max-width:420px){

    main div.bio p{
        font-size: 1.1rem;
        
    }
    main div.botao{
        height: 50px;
        width: 40px;
        justify-self: end;
        align-self: center;
        margin-bottom: 0px;
        margin-top: 80px;
        background-image: url('../img/Seta.png');
        background-size: contain;
        cursor: pointer;
        grid-area: botao;
    }
}

